* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --text-light-mood:#000000;
  --background-light-mood:#ffffff;
  --text-color:#000000;
  --background-color:#ffffff;
}
.dark-mood{
  --text-color:#ffffff;
  --background-color:#010101;
}
body {
  font-family: 'Roboto', sans-serif;  
  background-color: #3d3a3a;
  user-select: none;
}
.display-n{
  display: none;
}
.display-b{
  display: block;

}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.calculator .container .calculator-shape {
  width: 316px;
  height: 580px;
  background: var(--background-color);
  border-radius: 32px;
  padding: 0 15px;
}
.calculator .container .calculator-shape .operation-math{
  text-align: right;
  margin: 15px 0;
  padding: 5px ;
  height: 170px;
  border-radius: 32px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.calculator-shape .calc > span {
  text-align: right;
  color: var(--text-color);
  font-weight: 600;
  font-size: 40px;
  word-wrap: break-word;
}
.calculator-shape .result > span {
  color: #757575;
  font-weight: 500;
  font-size: 30px;
  word-wrap: break-word;
}
.calculator-shape .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 360px;
  padding: 10px 0;
}
.calculator-shape .buttons > .button {
  color: #ffffff;
  text-align: center;
  background-color: rgba(26, 26, 26, 1);
  width: 60.4px;
  height: 60.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  border-radius: 50%;
  cursor: pointer;
}
.calculator-shape .buttons > .arithmetic-operators {
  background-color: rgba(51, 51, 51, 1);
}
.calculator-shape .buttons > .button > span{
  font-weight: 700;
  font-size: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.calculator-shape .buttons > .button-c > span{
  font-weight: 700;
  font-size: 30px;
}
.calculator-shape .buttons >  .button-equals {
  background-color: rgba(255, 121, 73, 1);
}
.icons-menu{
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 5000;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}
.icons-menu .col-icons-menu ,
.closed{
  padding: 20px;
  cursor: pointer;
  opacity: 1;
  color: #000;
}
.nav-fixed{
  position: fixed;
    right: 0;
    top: 0px;
    z-index: 1000;
    background-color: #ffffff;
    padding: 11px;
    height: 128px;
    width: 250px;
}
.nav-fixed .close{
  cursor: pointer;
}
.icons-menu .col-icons-menu ,
.closed{
  padding: 20px;
  cursor: pointer;
  opacity: 1;
  color: #000;
}
.active{
  left: 0;
}
.section-mood{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-mood{
  display: flex;
  background-color: #ececec;
  padding: 10px;
  border-radius: 37px;
  width: 40%;
  margin-top: 10px;
  justify-content: space-around;
}
.all-mood .mood{
  cursor: pointer;
  color: #fff;
}
.all-mood .mood{
  color: #777;
}
.all-mood i{
  font-size: 18px;
}